<div class="jumbotron">
  <h1>
    Metaphysik
  </h1>
  <p class="text-justify">Metaphysik ist die Lehre von dem empiristisch nicht mehr Erfahrbaren, von den hinter unseren Wahrnehmungen verborgenen (oder vermuteten) Tatbeständen. Es ist der Bereich der Spekulation. Metaphysik ist eine zentrale Disziplin der Philosophie. Sie fragt nach den allgemeinsten Prinzipien des Seins. Hier gibt es eine Überschneidung mit der Ontologie. Es gibt Philosophen, die Metaphysik prinzipiell und teils schroff ablehnen.</p>

  <h2>
    Kursübersicht
  </h2>

  <p>
    <b>Kursdauer:</b> 14 Wochen<br>
    <b>Prüfung: </b>Schriftliche Prüfung oder Vortrag<br>
    <b>Anmeldung: </b> Anmeldung unter anmeldung@ousia.ch<br>

  <table class="table table-hover table-bordered results">
    <thead>
    <tr>
      <th>Datum</th>
      <th>Thema</th>
      <th>Text</th>
      <th>Bemerkung</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td><%= Date.today %></td>
      <td>Einführung</td>
      <td> <a href="http://www.claus-beisbart.de/teaching/wi2010/mph/mph1.pdf">Einführungstext</a> </td>
      <td> Einführung findet im Raum D57 statt.</td>
    </tr>
    <tr>
    <td><%= Date.today + 7.days %></td>
    <td>Parmenides</td>
    <td> <a href="http://www.claus-beisbart.de/teaching/wi2010/mph/mph1.pdf">2. Kapitel von "Antike Philosophie"</a> </td>
    <td></td>
    </tr>

    <tr>
    <td><%= Date.today + 14.days %></td>
    <td>Aristoteles</td>
    <td> <a href="http://www.claus-beisbart.de/teaching/wi2010/mph/mph1.pdf">Aristoteles, Buch IV</a></td>
    <td></td>
    </tr>

    <tr>
      <td><%= Date.today + 14.days %></td>
      <td>Thomas von Aquinas</td>
      <td> <a href="http://www.claus-beisbart.de/teaching/wi2010/mph/mph1.pdf">Summa theologica</a></td>
      <td> Stellvertretung durch Dr. Wagner.</td>
    </tr>

    <tr>
      <td><%= Date.today + 14.days %></td>
      <td>Quine</td>
      <td> <a href="http://www.claus-beisbart.de/teaching/wi2010/mph/mph1.pdf">"Was es gibt"</a></td>
      <td></td>
    </tr>

    </tbody>
  </table>

</div>